[% WRAPPER 'include/layout.tt' %]

<br />
<b>本当に削除しますか？</b>
<br />
<form method="post" action="/entry/delete_entry">
    <fieldset>
        <input type="hidden" name="id" value="[% id %]">
        <button type="submit" class="btn-inverse">はい　</button>
    </fieldset>
</form>
<form method="post" action="/entry/show_all">
    <fieldset>
        <button type="submit" class="btn-inverse">いいえ</button>
    </fieldset>
</form>

[% END %]
