[% WRAPPER 'include/layout.tt' %]

<marquee behavior="scroll" scrollamount="15" scrolldelay="85" loop="100">
  <font size="10" color="LIGHTBLUE">⊂(^ω^⊂⌒｀つ</font>
  <font size="10" color="deeppink">≡≡≡≡≡≡≡≡≡≡;</font>
</marquee>

<img src="[% uri_for('/static/img/test.jpg') %]" width="100" height="100">

[% END %]
