<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>[% title || 'Diary' %]</title>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <script src="[% uri_for('/static/js/jquery-1.10.0.min.js') %]"></script>
    <link href="[% uri_for('/static/bootstrap/css/bootstrap.css') %]" rel="stylesheet" type="text/css" />
    <script src="[% uri_for('/static/bootstrap/js/bootstrap.js') %]"></script>
    <script src="[% uri_for('/static/js/es5-shim.min.js') %]"></script>
    <script src="[% uri_for('/static/js/micro_template.js') %]"></script>
    <script src="[% uri_for('/static/js/strftime.js') %]"></script>
    <script src="[% uri_for('/static/js/sprintf-0.7-beta1.js') %]"></script>
    <script src="[% uri_for('/static/js/micro-location.js') %]"></script>
    <script src="[% uri_for('/static/js/micro_dispatcher.js') %]"></script>
    <link href="[% static_file('/static/css/main.css') %]" rel="stylesheet" type="text/css" media="screen" />
    <script src="[% static_file('/static/js/main.js') %]"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body[% IF bodyID %] id="[% bodyID %]"[% END %]>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">heaven</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/entry/show">Diary</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/auth/login">Login</a></li>
                        <li><a href="/rakugaki">落書き</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->
    <div class="container">
        <div id="main">
            [% content %]
        </div>
        <footer class="footer">
            Powered by <a target="_blank" href="http://amon.64p.org/">Amon2</a><br>
            reference from<a target="_blank" href="http://webgaku.hateblo.jp/entry/20120919/1348047766">bootstrap盛り合わせ</a><br>
            reference from<a target="_blank" href="http://w.builwing.info/2012/08/14/%E3%81%93%E3%82%8C%E3%81%A0%E3%81%91%E8%A6%9A%E3%81%88%E3%82%8C%E3%81%B0%E8%AA%B0%E3%81%A7%E3%82%82%E4%BD%BF%E3%81%88%E3%82%8Btwitterbootstrap2-0/">これだけ覚えれば</a><br>
            and also<a target="_blank"  href="http://homepage2.nifty.com/t_ishii/site/html5game/p3_0.html">HTML5ゲーム</a>
        </footer>
    </div>
</body>
</html>
