<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>[% title || 'Diary' %]</title>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <script src="[% uri_for('/static/js/jquery-1.10.0.min.js') %]"></script>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link href="[% uri_for('/static/bootstrap/css/bootstrap.css') %]" rel="stylesheet" type="text/css" />
    <!--スマフォ用の bootstrap -->
    <link href="[% uri_for('/static/bootstrap/css/bootstrap-responsive.css') %]" rel="stylesheet" type="text/css" />
    <!-- bootstrapに独自クラスを追加 -->
    <link href="[% uri_for('/static/bootstrap/css/bootstrap-custom.css') %]" rel="stylesheet" type="text/css" />
    <link href="[% uri_for('/static/bootstrap/css/bootstrap-responsive-custom.css') %]" rel="stylesheet" type="text/css" />

    <script src="[% uri_for('/static/bootstrap/js/bootstrap.js') %]"></script>
    <script src="[% uri_for('/static/js/es5-shim.min.js') %]"></script>
    <script src="[% uri_for('/static/js/micro_template.js') %]"></script>
    <script src="[% uri_for('/static/js/strftime.js') %]"></script>
    <script src="[% uri_for('/static/js/sprintf-0.7-beta1.js') %]"></script>
    <script src="[% uri_for('/static/js/micro-location.js') %]"></script>
    <script src="[% uri_for('/static/js/micro_dispatcher.js') %]"></script>

    <!-- textareをwideにする -->
    <link href="[% static_file('/static/css/widearea.css') %]" rel="stylesheet" type="text/css" media="screen" />
    <script src="[% static_file('/static/js/widearea.js') %]"></script>

    <!-- 検索結果ハイライトの為のプラグイン -->
    <script src="[% uri_for('/static/js/entry_util.js') %]"></script>
    <script src="[% uri_for('/static/js/jquery.highlight-4.js') %]"></script>
    <script src="[% uri_for('/static/js/search_highlight.js') %]"></script>

    <!-- コードシンタックスハイライト -->
    <script src="[% uri_for('/static/js/prettify.js') %]"></script>
    <link href="[% static_file('/static/css/prettify.css') %]" rel="stylesheet" type="text/css" />

    <link href="[% static_file('/static/css/main.css') %]" rel="stylesheet" type="text/css" media="screen" />
    <script src="[% static_file('/static/js/main.js') %]"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body[% IF bodyID %] id="[% bodyID %]"[% END %] onload="prettyPrint()">
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
        <a class="brand" href="/">heaven</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li class="active"><a href="/entry/show_all">Blog</a></li>
            <li><a href="/auth/login">投稿する</a></li>
            <li><a href="/book/show_list">Book</a></li>
            <li><a href="/link_page">リンク集</a></li>
            <li><a href="/rakugaki">落書き</a></li>
            <li><a href="http://circularuins.dyndns.org:3002/">Labo</a></li>
            <li class="divider-vertical"></li>
            <form class="navbar-search pull-left" method="post" action="/search/search_for_all" autocomplete="on">
              <div class="input-append">
                <input name="search_word" id="appendedInputButtons" size="16" type="text"  placeholder="ブログを検索">
                <button class="btn btn-primary" type="submit">
                  <i class="icon-search icon-white"></i>
                  Search
                </button>
              </div>
            </form>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div><!--/.navbar-inner -->
  </div><!--/.navbar -->
  <div class="container">
    <div id="main">
      [% content %]
    </div>
    <footer class="footer">
      Powered by <a target="_blank" href="http://amon.64p.org/">Amon2</a><br>
    </footer>
  </div>
</body>
</html>
